*{
  margin:0;
  padding: 0;
  
}
body{
  background-color: black;
  background-image: url('bodybg.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.all{
  height: 100%;
  width: 100%;
  background-image:transparent;
  border: 3px solid gold;
}
.two{
  background-image: transparent;
  
}
.one{
  width: 100%;
  height: 50%;
  background-color:red;
}
.img-one{
  height: 400px;
  width:100%;
  
}

.login{
  color: red;
  background-color:#e6ffff;
  font-size: 80px;
  font-style: bold;
  padding-left: 90px;
  padding-top: 30px;
}


.img-two{
  margin: 50px;
  height: 350px;
  width: 90%;
  position: center;
}

.img-tree{
  margin: 50px;
  height: 350px;
  width: 90%;
  position: center;
}

.img-for{
  margin: 50px;
  height: 350px;
  width: 90%;
  position: center;
}
